body{

padding: 0;
margin: 0;
font-family: 'Droid Sans', sans-serif;


}

.form {

margin: 0 auto;


}

.title{

margin: 0 auto;
text-align: center;
padding: 5px;
}

.form-size{

width: 50%;
margin: 0 auto;
margin-top: 10%;
height: 50%;
}

.form-center{

margin: 0 auto;
width: 47%;
padding: 0;
margin-top: 5px;

}

.form-button {

text-align: center;

}

.form-size{

    width: 500px;
    height: 500px;
    margin: 0 auto;
    

}

.input-field label{

color: #fff ;

}

.select-wrapper input.select-dropdown{

color: #fff !important;


}


.navbar-default.affix{

    background-color: #f05f40;
    

}

.mdi-navigation-arrow-drop-down:before{

    color: #fff;

}

.logo-size {

    margin-top: 15%;
}

.mi-btn{

    margin: 0 !important;
    padding: 0;


}
