{% extends 'base/index.html' %}

{% block about%}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">About Me</h2>
            <hr class="light">
            <p class="text-faded">I'm computer engineer, passionate for new technologies like Big Data and IoT, always
                try to learn more and improve each of my knowledge. I have had experience working on css, frontend and
                backend frameworks, using IONIC to build an hybrid app and an other apps. on the other hand, I had a job
                as IT assistant, collaborating in servers virtualizations, mount of RAID 5 for information persistence
                and deploying backup software to make one backup by month </p>
            <a href="#services" class="page-scroll btn waves-effect waves-light center">Get Started!</a>
        </div>
    </div>
</div>

{%endblock%}