<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href= "static/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Roboto+Condensed" rel="stylesheet">
</head>
<body>

    <header>

    <!--     <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Form</a></li>
              <li><a href="#">About</a></li>
            </ul>
          </div>
        </nav>
-->
    </header>

    <content>
    <form method="POST" action="/" class="form-size">
        <h1 class="title">Ormuco Form</h1>

        <div class="form-group form-center">
            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name">
        </div>
        <div class="form-group form-center">
            <input type="text" class="form-control" id="Favcolor" name="Favcolor" placeholder="Favorite color">
        </div>
        <div class="form-group form-center">
            <input type="text" class="form-control" id="CoT" name="CoT" placeholder="Cats or Dogs">
        </div>
        <div class="form-button">
            <button id="singlebutton"  class="btn btn-outline-danger form-button-size" name="submit" value="submit">Submit</button>
        </div>
    </form>
    </content>

    <footer>


    </footer>


</body>
</html>
