{% extends 'base/base.html' %}

{% block form %}
<div class="row form-size">
    <form method="post"  class="col s12 m12">
        <div class="row">
            <div class="input-field col s12 m12">

                <input id="icon_prefix" type="text" class="validate" id="Name" name="Name">
                <label for="icon_prefix">Name</label>
            </div>

            <div class="input-field col s12 m12">

                <input id="icon_email" type="text" class="validate" id="Favcolor" name="Favcolor">
                <label for="icon_email">Favorite Color</label>
            </div>

            <div class="input-field col s12 m12">
                <select id="CoT" name="CoT">
                    <option value="" disabled selected></option>
                    <option value="Cat" class="left circle">Cat</option>
                    <option value="Dog" class="left circle">Dog</option>
                </select>
                <label>Choose your pet</label>
            </div>


        </div>
        <button class="btn waves-effect waves-light center " type="submit" name="submit" value="submit">Submit
            <i class="fa fa-sign-in right"></i>
        </button>
    </form>

</div><!--row-->
{% endblock %}