body{

padding: 0;
margin: 0;
font-family: 'Droid Sans', sans-serif;

}

.form {

margin: 0 auto;
    

}

.title{

margin: 0 auto;
text-align: center;
padding: 5px;
}

.form-size{

width: 50%;
margin: 0 auto;
margin-top: 10%;
background-color: antiquewhite;
height: 50%;
}

.form-center{

margin: 0 auto;
width: 47%;
padding: 0;
margin-top: 5px;

}

.form-button {

text-align: center;

}

.form-button-size{

width: 47% !important;
margin-top: 5%;

}